#title {
    text-align: center;
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

button {
    background: #222222;
    color: #FFFFFF;
    padding: 5px;
    margin: 10px;
}